* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
    /* You can also host the font files locally and provide the path accordingly */
}




body {
    font-family: 'Montserrat', sans-serif;
    background: white;
    color: #1C3F3A;
    height: 100vh; 
    width: 100%; 
  

.beforeNav {
    background-color: #1C3F3A;
    height: 35px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 550;
    font-size: 12px;

}

.Mainlogo {
    height: 100%;
    width: 15%;

}

.Mainlogo img {
    position: absolute;
    height: 100px;
    width: 150px;

}

.navBar {

    height: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: 500;



}

.navBar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    list-style: none;
    margin-right: 25%;
    font-size: 17px;

}

.navBar ul li a {
    text-decoration: none;
    color: #1C3F3A;



}

.signin-out {
    display: flex;
    align-items: center;
    margin-right: 7px;
    width: 15%;
    


}

.signin-out a {
    text-decoration: none;
    font-size: 17px;

}

.signin-out a:first-child {
    color: #1C3F3A;

}

.sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;
    font-weight: 550;
    margin-left: 10px;
    color: white;
    background-color: #1C3F3A;
    border-radius: 15px;



}
.container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 100%;
    margin-left: 50px;
    margin-right: 63px;
    margin-top:30px;
    background-color:red;
}

.left-container{
    background-color:blueviolet;
    height: 100%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;  
}
.right-container{
    background-color:yellow;
    height: 100%;
    width:45%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-end;
}
.right-container img{
   
    height:500px;
    width:570px;
   
}
footer{
    background-color:#1C3F3A;
    height:30%;
}